.container-contacto{
  display: flex;
  width: 80%;
  margin: 30px auto 0;
  border-radius: 30px;
  justify-content: center;
  
}


.form{
    width: 40%;
    order: 2;
    padding: 10px;
    margin: auto 0;
}

.contenedor{
 display: flex;
 flex-direction: column;
 justify-content: center;
 background-size: cover;
 width: 50%;
 background-color: black;
 border-radius: 20px 0px 0px 20px;
 margin-right: 40px ;
}

.contenedor h3{
    text-align: center;
    margin-bottom: 20px;
    color: #ffffffa8;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #fff;
}

.contenedor p{
    font-size: 16px;
    color: #fff8;
    text-align: center;
    width: 90%;
    margin: 5px auto ;
}

.form-label{
    color: #ffffffa8;
}

#select{
    margin: 30px 0;
}

.btn-enviar{
    display: flex ;
    justify-content: center;
}

.btn-enviar button{
    width: 100%;
    margin: 30px 0;
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto a{
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}

.contacto .correo{
    color: #fff;
    font-size: 17px;
    margin: 15px 0;
}

textarea{
    resize: none;
}